<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo Exercício</title> 
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body onload="horario()">
    <header>

      <b> <h1 id="turno"></h1> </b> 
        <b> <p class="hor"> Horas</p> <br> </b>
    </header>
<section>
    
        <div id="msg"></div> <br>
        <div> 
            <img id="img" src="../templates/img/bomdia.jpg" alt="foto_dia">
            
        </div>

</section> 
<footer>
    <p> &copy;EduardaVeronica</p>
</footer>
   <script src="../static/Js/index.js"></script>
</body>
</html>